<launch>
    <!-- <param name="/use_sim_time" value="true" /> -->

    <!-- <include file="$(find serial_io)/launch/slam_s2.launch" >
        <arg name="lidar_serial" value="/dev/ttyS3"/>
    </include>-->

    <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
    </include> -->

    <!-- <include file="$(find serial_io)/launch/carto_slam.launch" /> -->

    <node pkg="tf" type="static_transform_publisher" name="world_to_map_broadcaster" respawn = "true" args="0 0 0.1 0 0 0 /world /map 50"/>
    <node pkg="tf" type="static_transform_publisher" name="map_to_odom_broadcaster" respawn = "true" args="0 0 0 3.1415926 0 0 /map /odom 50"/>

    <!-- <node pkg="tf" type="static_transform_publisher" name="base_to_camera_broadcaster" respawn = "true" args="0 0 0.1 3.1415926 0 0 /base_link /camera_link 50"/> -->

    <node pkg="tf" type="static_transform_publisher" name="base_to_laser_broadcaster" respawn = "true" args="0 0 0.1 3.1415926 0 0 /base_link /current_laser 50"/>
    <node pkg="tf" type="static_transform_publisher" name="carto_to_uav_broadcaster" respawn = "true" args="0 0 0 3.1415926 0 0 /current_laser /laser 50"/>
    
    <!-- <node name="serial_io" pkg="serial_io" type="serial_handle.py" respawn = "true"  output="screen">
        <param name="port"               type="string" value="/dev/ttyS0"/>
        <param name="baudrate"           type="int"    value="115200"/>
    </node> -->

    <!-- <node name="BarrierSearch" pkg="barrier_search" type="barrier_search_node"  output="screen" />  -->

    <!-- node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
        <param name="video_device" value="/dev/video0" />
        <param name="image_width" value="640" />
        <param name="image_height" value="480" />
        <param name="pixel_format" value="yuyv" />
        <param name="color_format" value="yuv422p" />
        <param name="camera_frame_id" value="usb_cam" />
        <param name="io_method" value="mmap"/>
    </node> -->

    <!-- <node name="OpencvServer" pkg="opencv_server" type="rknn_pro_bridge_node.py" output="screen" >
    </node> -->

    <!-- <node name="OpencvServer" pkg="opencv_server" type="opencv_server_node" respawn = "true" output="screen" >
    </node> -->

    <!-- <node name="rviz" pkg= "rviz" type="rviz" args="-d $(find serial_io)/rviz/hector_rviz.rviz" /> -->

</launch>
